body {
  font-family: Arial;
  background-color: white;
  padding: 2em;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
}

li {
  line-height: 30px;
}

.self-introduction-container {
  height: 200px;
  width: 500px;
  display: inline-block;
}

.self-introduction {
  color: gray;
  margin-left: 30px;
}

.time-right {
  float: right;
}

.yangxiao-photo-container {
  height: 200px;
  width: 200px;
  display: inline-block;
}

.yangxiao-photo {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}